.about
	margin-top 27px
	padding-x(4px)
	display block

	&__input
		overflow hidden
		width 100%
		min-height 174px
		font-family CourierNewCyr, sans-serif
		font-size 30px
		line-height 58px
		background transparent url(../images/underline.png) 0 -5px repeat
		border none
