@font-face {
    font-family: PTSansBold; /* Гарнитура шрифта */
    src: url(../../fonts/PTSansBold/PTSansBold.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
	font-family: PTSansBold; /* имя шрифта для CSS правил */
	src: local("PTSansBold"), /* проверяем наличие шрифта в ОС пользователя */
    url(../../fonts/PTSansBold/PTSansBold.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }

@font-face {
	font-family: PTSansRegular; /* имя шрифта для CSS правил */
	src: local("PTSansRegular"), /* проверяем наличие шрифта в ОС пользователя */
    url(../../fonts/PTSansRegular/PTSansRegular.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }

  @font-face {
	font-family: CourierNewCyr; /* имя шрифта для CSS правил */
	src: local("CourierNewCyr"), /* проверяем наличие шрифта в ОС пользователя */
    url(../../fonts/CourierNewCyr/CourierNewCyr.ttf); /* если шрифт не установлен, тогда загружаем его по указанному пути */
  }
