.page
	$size(100%, 100%)
	font-family PTSansRegular, sans-serif
	color #231f20
	background-color #797979

	&__content
		margin 0 auto
		padding 0 110px
		padding-bottom 70px
		width 1000px
		background-image url('../images/bground.png')

	&__title
		padding-top 5px
		text-align center

	&__title-img
		margin-left -36px
		display inline-block
		sprite($business)

	&__form
		margin-top 35px

	&__date
		margin-top 75px

		.input
			width 210px
			vertical-align top

	main
		display block
