.header
	position relative
	padding-top 70px
	padding-bottom 50px
	display block

	&__logo
		margin-left 5px
		display inline-block
		sprite($logo)

	&__stamp
		position absolute
		top 48px
		right -56px
		sprite($secret)
