.row
	padding-top 12px
	display flex

	&__label
		margin-right 15px
		padding-top 26px
		display inline-block
		font-family PTSansBold, sans-serif
		font-size 23px
		line-height 24px
		vertical-align top
		letter-spacing -.2px
		cursor pointer

	&__value
		padding-bottom 4px
		display inline-block
		flex 1 0
		font-size 30px
		line-height 46px
		vertical-align top
		background url(../images/line.png) -150px 100% repeat-x

	&__input
		width 100%
		vertical-align top

	&_inline
		display inline-block

	&_label_shift

		.row__label
			padding-top 30px
			line-height 20px
