mixin slider()
	+section("Уровень владения JavaScript")&attributes(attributes).slider

		div(class="slider__scale", id = "scale")
			div(class='controller', id='controller')
		.slider__checkpoints
			.slider__label.slider__label_last.slider__label_float_r(id="level_3") Пишу сложный Js с нуля
			.slider__label.slider__label_mr_78(id="level_0") Не владею
			.slider__label.slider__label_mr_56(id="level_1") Использую готовые решения
			.slider__label(id="level_2") Использую готовые решения<br/>и умею их переделывать


